.sent {
    background-color: #395dff;
    width: auto;
    color: white;
    border-radius: 25px;
    /*flex-direction: row-reverse;*/
    padding: 10px;
    margin: 10px 0;
    text-align: end;
    float: right;
  }
  
  .received {
    border: 1px solid lightgray;
    background-color: #60a5fa;
    width: auto;
    border-radius: 25px;
    padding: 10px;
    margin: 10px 0;
    text-align: end;
    float: left;
  }
  img {
    border-radius: 50%;
    height: 45px;
    border: 2px solid black;
  }
  .msgs {
    margin: 110px 0;
    display: flex;
    flex-direction: column;
  }
  .sendMsg {
    position: fixed;
    display: flex;
    width: 100%;
    bottom: 0;
    z-index: 1;
    border-top: 1px solid lightgray;
    margin-left: -5px;
    padding: 10px;
    padding-bottom: 30px;
    background-color: #fafafa;
  }